@model LaguettoHotel.Models.CustomerDetailsViewModel
@using LaguettoHotel.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid" style="padding-left: 30vw; padding-right:30vw; margin-top:80px;">
    <h2>Seu Perfil</h2>

    <div class="">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nome:
            </dt>

            <dd>
                @Model._cliente.Nome
            </dd>
            <dt>
                CPF:
            </dt>

            <dd>
                @Model._cliente.CPF
            </dd>
            <dt>
                Telefone:
            </dt>

            <dd>
                @Model._cliente.Telefone
            </dd>
        </dl>

        <h4 class="mt-5">Suas Reservas</h4>
        <table style="margin-bottom:50px;" class="table table-borderless">
            <thead>
                <tr>
                    <td>Entrada</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>Saida</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>Quarto</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>Valor Total</td>
                </tr>
            </thead>
            <tbody>
                @if (Model._reserva != null)
                {
                    foreach (Reserva item in Model._reserva)
                    {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.dataEntrada)</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>@Html.DisplayFor(modelItem => item.dataSaida)</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>@Html.DisplayFor(modelItem => item.idQuarto)</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>@Html.DisplayFor(modelItem => item.valorTotal)</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <a href="@Url.Action("Edit", "Reservas", new { id = item.idQuarto})" class="nav-link text-body px-0">
                            Editar
                        </a>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <a href="@Url.Action("CancelarReserva", "Reservas", new { id = item.idQuarto})" class="nav-link text-body px-0">
                            Cancelar
                        </a>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
