@model LaguettoHotel.Models.loginUser

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: whitesmoke
    }

    .form {
        width: 50%;
        background-color: black;
    }

    #CPF {
        min-width: 100%;
    }

    #senha {
        min-width: 100%;
    }
</style>

<div class="container bg-light p-5 mt-5" style="border-radius:20px; max-width:500px">
    @using (Html.BeginForm("Login", "Account", new { @class = "form w-100" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h4>Login</h4>
        @Html.ValidationSummary(true)
        <hr />
        <div class="form-group w-100">
            @Html.LabelFor(model => model.email, new { @class = "col-sm-2 col-form-label" })
            <div class="mb-3 w-100">
                @Html.EditorFor(model => model.email, new { @class = "w-100 d-flex" })
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>
        <div class="form-group w-100">
            @Html.LabelFor(model => model.password, new { @class = "col-sm-2 col-form-label" })
            <div class="mb-3 w-100">
                @Html.EditorFor(model => model.password, new { @class = "w-100 form-control" })
                @Html.ValidationMessageFor(model => model.password)
            </div>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Lembrar-me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>

    }
</div>

