@model IEnumerable<LaguettoHotel.Models.Reserva>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quarto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorDiaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataSaida)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quarto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valorDiaria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valorTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataSaida)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idQuarto }) |
            @Html.ActionLink("Details", "Details", new { id=item.idQuarto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idQuarto })
        </td>
    </tr>
}

</table>
