
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Public/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Public/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Content/Public/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Public/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Public/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/Content/Public/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/Public/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Content/Public/css/style.css">
    <link rel="stylesheet" href="~/Content/Public/css/responsive.css">
</head>
<body>
    <style>
        footer {
            background-color: #638C80 !important;
            color: white !important;
        }

        .hotel-booking-table {
            background-color: #638C80 !important;
        }

        .col-md-4 input.form-control::placeholder {
            color: black !important;
        }
        .col-md-4 input.form-control{
            color: black !important;
        }

        footer a {
            /*background-color: #638C80 !important;*/
            color: white !important;
        }
    </style>
    <!--================Header Area =================-->
    <header class="header_area">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h nav-link text-body font-weight-bold px-0" href="index.html">@*<img src="~/Content/Public/image/Logo.png" alt="">*@<h2 style="color: #638C80">Laguetto Hotel</h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active">
                            <a href="@Url.Action("Index", "Home")" class="nav-link text-body px-0">
                                <span class="d-sm-inline d-none">Inicio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("SobreNos", "Home")" class="nav-link text-body px-0">
                                <span class="d-sm-inline d-none">Sobre nos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Create", "Reservas")" class="nav-link text-body px-0">
                                <span class="d-sm-inline d-none">Reserva</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="javascript:;">Galeria</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="javascript:;">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="javascript:;">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contato</a></li>
                        <li class="nav-item d-flex align-items-center">
                            @{
                                LaguettoHotel.Models.loginUser user = (LaguettoHotel.Models.loginUser)Session["usuarioLogado"];
                                LaguettoHotel.Models.Cliente cliente = (LaguettoHotel.Models.Cliente)Session["dadosForeign"];

                                if (user != null)
                                {
                                    <a href="@Url.Action("Details", "ClienteViewModels", new { id = cliente.idCliente})" class="nav-link text-body font-weight-bold px-0">
                                        <i class="fa fa-user me-sm-1"></i>
                                        &nbsp;
                                        <span class="d-sm-inline d-none">@user.Username</span>
                                    </a>

                                    <span>&nbsp;|&nbsp;</span>

                                    <a href="@Url.Action("Logout", "Account")" class="nav-link text-body px-0">
                                        <span class="d-sm-inline d-none">Sair</span>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Login", "Account")" class="nav-link text-body font-weight-bold px-0">
                                        <i class="fa fa-user me-sm-1"></i>
                                        <span class="d-sm-inline d-none">Entrar</span>
                                    </a>
                                }

                            }
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Area =================-->
    @RenderBody()
    <!--================ start footer Area  =================-->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Sobre a Agencia</h6>
                        <p>O mundo se tornou tão rápido que as pessoas não querem ficar lendo uma página de informações, elas preferem olhar para uma apresentação e entender a mensagem. Chegou a um ponto</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Navegaçao</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                                    <li><a href="javascript:;">Recursos</a></li>
                                    <li><a href="javascript:;">Serviços</a></li>
                                    <li><a href="javascript:;">Portfolio</a></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="javascript:;">Equipe</a></li>
                                    <li><a href="javascript:;">Preços</a></li>
                                    <li><a href="javascript:;">Blog</a></li>
                                    <li><a href="javascript:;">Contato</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Newsletter</h6>
                        <p>Para profissionais de negócios presos entre o alto preço do OEM e impressão e produção gráfica medíocres,</p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h6 class="footer_title">InstaFeed</h6>
                        <ul class="list_style instafeed d-flex flex-wrap">
                            <li><img src="image/instagram/Image-01.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-02.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-03.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-04.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-05.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-06.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-07.jpg" alt=""></li>
                            <li><img src="image/instagram/Image-08.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="border_line"></div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Todos os direitos reservados | Este modelo é feito com <i class="fa fa-heart-o" aria-hidden="true"></i> por <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    @if (Html.ValidationSummary(true, "", new { @class = "text-danger" }) != null)
    {
        foreach (var item in ViewContext.ViewData.ModelState)
        {
            if (item.Value.Errors.Any())
            {
                <div class="toast mt-8" style="position: absolute; top: 0; right: 0;">
                    <div class="toast-header">
                        <img src="..." class="rounded mr-2" alt="...">
                        <strong class="mr-auto">Bootstrap</strong>
                        <small>11 mins ago</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" style="top: 0; right: 0;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        @*<td><b>@item.Key</b></td>*@
                        @*<td>@((item.Value == null || item.Value.Value == null) ? "<null>" : item.Value.Value.RawValue)</td>*@
                        <span>@(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))</span>
                    </div>
                </div>
            }
        }
    }

    @if (HttpContext.Current.Request.Url.AbsolutePath == "/ClienteViewModels/Create")
    {
        <script src="~/Content/Cliente/ClienteViewModel_Create.js"></script>
    }
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7-beta.23/jquery.inputmask.min.js" integrity="sha512-mh8BrmrpMLvcfym8unG8TXU+LGUP0A2C6tN4b/RXWK3xffaA9k4blevFyY9WFyn3Y4pqpPNIVWtCZUTGRLqrrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/Content/Public/js/popper.js"></script>
    <script src="~/Content/Public/js/bootstrap.min.js"></script>
    <script src="~/Content/Public/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/Public/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/Public/js/mail-script.js"></script>
    <script src="~/Content/Public/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/Public/vendors/nice-select/js/jquery.nice-select.js"></script>
    <script src="~/Content/Public/js/mail-script.js"></script>
    <script src="~/Content/Public/js/stellar.js"></script>
    <script src="~/Content/Public/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/Content/Public/js/custom.js"></script>
</body>
</html>




